*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary{
        background: #007aff;
        padding: 0.5rem 1rem;
        margin: 0.4rem 0;
        border-radius: 10px;
        color: white;
}

.btn-secondary{
    border: 3px solid #3d536ec7;
    padding: 0.5rem 1rem;
    margin: 0.4rem 0;
    border-radius: 100px;
    
}
.btn-third{
    background: rgb(235, 49, 49);
    padding: 0.5rem 1rem;
    margin: 0.4rem 0;
    border-radius: 10px;
    color: white;
}