*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar:hover{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: transparent;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-track:hover{
    background: transparent;
    
    /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(182, 182, 182),rgb(212, 212, 212)); /* Thumb color */
    border-radius: 50px;
    height: 20px;
    transition: all 3s linear;

  }
  
::-webkit-scrollbar-thumb:hover {

background: linear-gradient(rgb(69, 69, 239), rgb(255, 20, 255)); /* Thumb color on hover */
    width: 2rem;
}


.custom-team-btn{
    background-color: #006dd6;
    /* border: 3px solid red; */
    color: white;
    padding: 0.5rem 1rem ;
    border-radius: 7px;
}


.universal-main-container{
    /* padding: 0.2rem; */
    /* border: 4px solid yellow; */
    background-color: #282828;
    gap: 0.2rem;
}
.universal-right-container{
    background-color: white;
    border-radius: 10px;
    /* border: 3px solid blue; */
}

.left-sidebar{
    /* border: 3px solid red; */
    height: calc(100vh - 3.3rem);
    /* width: 20%; */
    max-width: 22%;
    
    background-color: white;
    border-radius: 10px;
    color: rgb(255, 255, 255);
   
    transition: all 0.4s linear;
    /* overflow-y: scroll; */
    position: sticky;
    left: 0;
    top: 8%;
    
    

    /* padding: 0.1rem; */
}

.side-nav-card{
    /* border: 5px solid blue; */
    /* overflow-y: scroll; */
    height: 93%;
    width: 100%;
}

.home-viewport-container{
    /* display: flex; */
    /* padding: 0.1rem; */
    background-color: white;
    gap: 0.3rem;
    /* padding: 0.2rem; */
    width: 100%;
    border-radius: 10px;
    /* border: 3px solid red; */
    min-height: 100%;
    
}

.home-right-container{
    width: 100%;

    /* max-width: 100%; */
    padding: 0.1rem;
    background: white;
    border-radius: 10px;
}


.home-name-heading{
    /* border: 4px solid blue; */
    border-bottom: 2px solid #006fd688;
    margin: 0 1rem;
}
.home-project-list{
    background: rgb(242, 242, 242);
}